*.png
*.hdf5
ans.csv
__pycache__
imgs
/.data
/results
/.snakemake
.index-cache
.joblib-cache
messi/build
scratch.py
.vscode
.direnv
.venv
nefeli.db
ds-tree-c
paris_plus_and_messi-main
messi_distcomp.zip
